body {
	margin:0;
}


.artTitle {
	text-align:center;
}

.column {
    float:left;
}

.column.main {   /*styling of the main column*/
    width:70%;
    padding-left:10%;


}
.column-side {    /*styling of the side column*/
    width:20%;
    background-color:2C3E50;
    float:right;
    height:150%;
}

.post-image {    /*the images in the main content area*/
	margin-left:auto;
	margin-right:auto;
	display:inline-block;
}

#images {
	text-align:center;
}

.side-image {     /*the image of my cat in the sidebar*/
	margin:auto;
	display:block;
    width:80%;
}
.side-title {      /*the title, containing my name, in the sidebar*/
	text-align:center;
    color:whitesmoke;
}

.articles {  /*the styling of the article links in the sidebar*/
	color:whitesmoke;
	text-align:center;
}
.article-image {
	margin:auto;
	display:block;
}


#side-text {
    padding-left:5%;
    color:whitesmoke;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}