
body{
    font-size:20px;


    /*background-color:86CDFF;  Blue background color */
}




ul {  /*Affects all unordered lists*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
}
a {  /*affects all links*/
	text-decoration:none;
	
}
 .navigation {   /*navigation class*/
	 font-size:27px;
 
 }
a:visited {    /*visited links*/
	text-decoration:none;
	}
	



.links {   /*affects the links class*/
	display:inline-block;
	margin-left:auto;
    margin-right:auto;
    width:;

   
}


li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #0099ff;
	color: #ffffff
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #0099ff}

.dropdown:hover .dropdown-content {
    display: block;
	
}


footer {
	font-size:14px;
	clear: left;
	width: 100%;
	background: #ccc;
	text-align: center;
	padding: 4px 0;
    
}
.footHold {    /*Footers that need to be held to the bottom of the screen*/
    position:fixed;
    bottom:0;
}


.headText {
    text-align:center;
    font-size:40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.bg {
    background-image: url("images/Sunset.JPG");
    height:50%;
    width:100%;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}