


header {
    background-color:#F1F1F1;
    text-align:center;
    padding:5px;
}


body{
    font-size:20px;
    height: 100%;
    margin:0;

    /*background-color:86CDFF;  Blue background color */
}


.column {
    float:left;
}

.column.main {
    width:70%;

}

.column.side {
    width:20%;
}




ul {  /*Affects all unordered lists*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
}
a {  /*affects all links*/
	text-decoration:none;
	
}
 .navigation {   /*navigation class*/
	 font-size:30px;
 
 }
a:visited {    /*visited links*/
	text-decoration:none;
	}
	



.links {   /*affects the links class on the about me page*/
	display:inline-block;
	margin-left:auto;
    margin-right:auto;
    width:;
}

.linkBlock {      /*A block of the elements of the links class, used for centering the items*/
    margin:auto;
    width:40%;

}

    /*CSS FOR THE NAVIGATION BAR*/
li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #0099ff;
	color: #ffffff
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #0099ff}

.dropdown:hover .dropdown-content {
    display: block;
	
}

/*END CSS FOR THE NAVIGATION BAR*/


footer {
	font-size:14px;
	clear: left;
	width: 100%;
	background: #ccc;
	text-align: center;
	padding: 4px 0;
    
}
.footHold {    /*Footers that need to be held to the bottom of the screen*/
    position:fixed;
    bottom:0;
}


.headText {   /*main text on index */
    text-align:center;
    font-size:40px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.bg {    /*background image for index */
    background-image: url("images/Sunset.JPG");
    height:100%;
    width:100%;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:fixed;
    left:0;
}

#description {
    padding-left:10%;
}