 <div class="user-details">
</div>
  <div class="user">
    <div class="tech">
      <h2>Security</h2>
      <i class="devicon-linux-plain"></i>
     <i class="devicon-ubuntu-plain colored"></i>
       <i class="devicon-github-plain"></i>
      <p>I'm fascinated by cybersecurity, and most of my hobbies have something to do with it. I like to mess around with linux, networking and electronics. </p>
    </div>
    <div class="tech">
      <h2>Programming</h2>
     <i class="devicon-java-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-c-plain colored"></i>
      <p>I like to program in Python 3, Java, and a bit of C. All my projects are on my github, which holds them as a portfolio of the work that I've done.   </p>
    </div>
    <div class="tech">
      <h2>Electronics</h2>
      <i class="devicon-vim-plain colored"></i>
      <i class="devicon-debian-plain colored"></i>
      <i class="devicon-amazonwebservices-original colored"></i>
      <p>Playing around with electronics is a favorite pastime of mine, and I mess around with everything from Arduino to Raspberry Pi.</p>
    </div>
</div>
