<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/binaryClock.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Binary Clock </h3>
    <p>I built a Binary Clock while bored in computer science class, which displays the time in binary format, instead of the standard decimal. I used an RTC, or real time clock module, in order for it to keep time without being on. </p>
    <a class="project-link" href="https://github.com/PwnKitteh/BinaryClock">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/aliexpress.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> AliExpress Electronics </h3>
    <p>Me and a few of my friends built a github repo with a bunch of cheap electronics you can buy from China. It contains things like knockoff arduinos, displays, buttons, SOCs, WiFi development boards and tools.</p>
    <a class="project-link" href="https://github.com/PwnKitteh/InsanelyCheapElectronics">Check it out</a>
  </div>
</div>

<!-- <div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div> -->